* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #eaf3ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: none;
  background: white;
  width: 90%;
  max-width: 420px;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card.active {
  display: block;
}

h1,
h2 {
  color: #5b8fd8;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #cce0ff;
  margin-bottom: 10px;
}

button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #7db7ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #5fa4ff;
}

.back {
  margin-top: 20px;
  background: #b3d6ff;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.music-list {
  list-style: none;
  padding: 0;
}

.music-list p {
  font-size: 13px;
  color: #666;
}

.text {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.error {
  color: #ff7b7b;
  display: none;
}

/* LOVE GAME */
.love {
  font-size: 60px;
  margin: 20px 0;
}

.choice {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hidden {
  display: none;
}

/* GIFT */
.gift-box {
  font-size: 60px;
  cursor: pointer;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.rose {
  font-size: 50px;
}
.love-image img {
  width: 100px;
  animation: pulse 1.5s infinite;
  margin-bottom: 15px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
